{% extends '@App/layout.html.twig' %}

{% block body %}

    <div id="container">
        <h1>Список разработчиков</h1>

        {% for developer in developers %}
            <p>
                <a href="{{ path('developer_item', {id: developer.id}) }}">{{ developer.name }}</a>
            </p>
        {% endfor %}

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
