{% extends '@App/layout.html.twig' %}

{% block body %}

    <div id="container">
        <h1>Список проектов разработчика {{ developer.name }}</h1>

        <ul>
        {% for project in developer.projects %}
                <li>{{ project.name }}</li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
